{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feedback Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <style>
        .gbutton {
            background-color: #9f282c;
        }

        .star-icon {
            fill: gray;
        }

        /* Define the styles for the "active" class to set the text color to yellow */
        .star-icon.active {
            fill: yellow;
        }
    </style>
</head>

<body class="h-screen">
    <nav class="bg-white border-gray-200 border-b-2 shadow-xl" style="border-color: #9f282c">
        <div class="flex items-center sm:justify-center my-2 sm:flex-grow">
            <div>
                <img src="{% static 'img/logo.png' %}" alt="" class="h-10 sm:h-16" />
            </div>
            <div class="absolute right-0 mr-3">

                {% comment %} <a href="{% url 'feedbackapp:login' %}" class="text-white text-lg px-4 py-2 rounded"
                    style="background-color: #9f282c">Login</a> {% endcomment %}
            </div>
        </div>
    </nav>
    <div class="flex flex-col">
        <div class="max-w-7xl mx-auto  px-4 sm:px-6 lg:px-8">
            <div class=" justify-center items-center">
                <h1 class="text-xl sm:text-4xl font-bold mt-5 text-center ">Please complete this form to help us improve
                    🫶</h1>
            </div>
            <form class="p-2 mt-3 sm:mt-12 space-y-4 sm:space-y-5 mr-5" method="post">
                {% csrf_token %}
                <div class="flex flex-col sm:flex-row sm:space-y-0  sm:mx-20 lg:mx-0">
                    <div class="flex flex-col space-y-1 mx-auto sm:mr-5 md:mr-10">
                        <label class="text-md font-medium" for="name">Name 👀</label>
                        <input required class="w-80 sm:w-96 px-3 py-2 border-2 border-blue-400 rounded shadow-lg"
                            type="text" placeholder="Your Name" name="name" id="name" />
                    </div>

                    <div class="flex flex-col space-y-1 sm:mr-5 mx-auto md:mr-10 mt-5 sm:mt-0">
                        <label class="text-md font-medium" for="registrationnumber">Reg No 🔟</label>
                        <input required class="w-80 sm:w-96 px-3 py-2 border-2 border-blue-400 rounded shadow-lg "
                            type="text" placeholder="Your Reg Number" name="registrationnumber"
                            id="registrationnumber" />
                    </div>
                </div>

                <div class="flex flex-col sm:flex-row  sm:space-y-0 sm:mx-20 lg:mx-0 mt-5">
                    <div class="flex flex-col space-y-1 mx-auto sm:mr-5 md:mr-10">
                        <label for="countries" class="text-md  font-medium">Mobile No 🔢</label>
                        <input required class="w-80 sm:w-96 px-3 py-2 border-2 border-blue-400 rounded shadow-lg"
                            type="number" placeholder="Mobile Number" name="MobileNumber" id="MobileNumber" />
                    </div>

                    <div class="flex flex-col space-y-1 mx-auto sm:mr-5 md:mr-10 mt-5 sm:mt-0">
                        <label for="countries" class="text-md  font-medium">Reason for Visting 🤔</label>
                        <select id="" name="reason_for_visiting" required
                            class="w-80 sm:w-96 px-3 py-2 shadow-lg border-2 border-blue-400 rounded" type="text>
              <option value=" junk">---------------</option>
                            <option value="junk">-- Select --</option>
                            {% for st in reasons %}
                            <option value="{{ st }}">{{ st }}</option>
                            {% endfor %}

                        </select>
                    </div>

                </div>
                <div class="flex flex-col sm:flex-row  sm:space-y-0 sm:mx-20 lg:mx-0 mt-5">
                    <div class="flex flex-col space-y-1 mx-auto sm:ml-0 md:ml-0">
                        <label for="whom_did_you_meet" class="text-md  font-medium">Whom did you meet 🫱‍🫲</label>

                        {% comment %} <select id="" name="whom_did_you_meet" required
                            class="w-80 sm:w-96 px-3 py-2 shadow-lg border-2 border-blue-400 rounded" type="text>
              <option value=" junk">---------------</option>
                            <option value="junk">--- select ---</option>
                            {% for st in staff %}
                            <option value="{{ st }}">{{ st }}</option>
                            {% endfor %}

                        </select> {% endcomment %}
                        <div class="relative">

                            <div class="relative inline-block text-left">
                                <div id="selectedCountryLabel"
                                    class="bg-gray-50 w-80 sm:w-96 px-3 py-2 shadow-lg border-2 border-blue-400 rounded ">
                                    <span id="selectedCountryText" class="w-80 sm:96">-- Select --</span>
                                </div>
                                <div id="countryDropdown"
                                    class="origin-top-right absolute right-0 mt-2 w-80 sm:w-96  rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
                                    <div class="option-item flex flex-row" data-country="US">
                                        <img src="{% static 'img/1844.jpg' %}" alt="" class="h-20 w-20 m-2" />
                                        <div class="flex items-center">Prof. Rajkumar - Associate Director (1st Year)
                                        </div>
                                    </div>
                                    <div class="option-item flex flex-row" data-country="CA">
                                        <img src="{% static 'img/120033.jpg' %}" class=" h-20 w-20 m-2">
                                        <div class="flex items-center hover:blue-500">Dr. Rajakoti - Assistant Director
                                            (1st Year)</div>
                                    </div>
                                    <div class="option-item flex flex-row" data-country="CA">
                                        <img src="{% static 'img/7413.jpg' %}" class=" h-20 w-20 m-2">
                                        <div class="flex items-center hover:blue-500">G.Srinivasa Rao - Junior Assistant
                                        </div>
                                    </div>
                                    <div class="option-item flex flex-row" data-country="CA">
                                        <img src="{% static 'img/7020.jpeg' %}" class=" h-20 w-20 m-2">
                                        <div class="flex items-center hover:blue-500">B.Suresh - Junior Assistant</div>
                                    </div>
                                    <div class="option-item flex flex-row" data-country="CA">
                                        <img src="{% static 'img/7713.jpg' %}" class=" h-20 w-20 m-2">
                                        <div class="flex items-center hover:blue-500">B.Praveen Kumar - Attendant</div>
                                    </div>
                                    <div class="option-item flex flex-row" data-country="CA">
                                        <img src="{% static 'img/7090.jpg' %}" class=" h-20 w-20 m-2">
                                        <div class="flex items-center hover:blue-500">B.Appala Naidu - Attendant</div>
                                    </div>
                                    <div class="option-item flex flex-row" data-country="CA">
                                        <img src="{% static 'img/501511.jpg' %}" class=" h-20 w-20 m-2">
                                        <div class="flex items-center hover:blue-500">S.Surya Devi - Attendant</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-10 flex flex-col  sm:ml-0  ">

                    <p class="text-xl my-2 text-center font-bold">Is Your Problem Solved ❓</p>
                    <div class="mx-auto">
                        <div class="flex items-center mx-auto mb-4 mx-auto">
                            <input required id="problem_solved_radio" type="radio" name="problem_solved" value="yes"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500  focus:ring-2 ">
                            <label for="default-radio-1" class="ml-2 text-sm font-medium text-gray-900">Yes, My Problem
                                Solved
                            </label>
                        </div>
                        <div class="flex items-center">
                            <input required id="problem_not_solved_radio" type="radio" name="problem_solved" value="no"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2 ">
                            <label for="default-radio-2" class="ml-2 text-sm font-medium text-gray-900">No, My Problem
                                is not Solved</label>
                        </div>

                    </div>
                    <div class="flex flex-col space-y-1  mx-auto">
                        <label for="description" id="description_label" class="text-md  font-medium" hidden> Description
                            🖊️</label>
                        <input name="description" id="description_input"
                            class="w-80 sm:w-96 px-3 py-2 border-2 shadow-lg border-blue-400 rounded" type="text"
                            placeholder="Description" required hidden />
                        </select>

                    </div>
                </div>
                <div class="flex flex-col">
                    <p class="text-xl my-2 text-center font-bold">Rating</p>
                    <div class="flex items-center mx-auto space-x-1 mx-auto">
                        <svg class="w-4 h-4  star-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4  star-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4  star-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4  star-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-4 h-4  star-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                    </div>
                </div>

                <div class="flex w-80 sm:w-96 mx-auto py-2 mt-10">
                    <button type="submit" class="w-full text-white font-medium px-3 py-2 rounded mx-auto"
                        style="background-color: #9f282c;">Submit</button>
                </div>
                <input type="hidden" name="rating" id="rating_input" value="0">
            </form>
        </div>
    </div>
    </div>

    <script>
        const starIcons = document.querySelectorAll('.star-icon');
        const submitButton = document.getElementById('submit-button');

        starIcons.forEach((icon, index) => {
            icon.addEventListener('click', () => {
                // Add the "active" class to the clicked icon
                icon.classList.add('active');

                // Add the "active" class to all previous icons
                for (let i = 0; i < index; i++) {
                    starIcons[i].classList.add('active');
                }

                // Remove the "active" class from all subsequent icons
                for (let i = index + 1; i < starIcons.length; i++) {
                    starIcons[i].classList.remove('active');
                }
                // Update the hidden input field value with the number of stars clicked
                ratingInput.value = index + 1;
            });
        });
        function validateMobileNumber(input) {
            const mobileNumber = input.value;
            const regex = /^[6-9]\d{9}$/;

            if (!regex.test(mobileNumber)) {
                input.setCustomValidity("Please enter a valid 10-digit mobile number starting with 6, 7, 8, or 9");
            } else {
                input.setCustomValidity("");
            }
        }
        const selectedCountryLabel = document.getElementById('selectedCountryLabel');
        const selectedCountryText = document.getElementById('selectedCountryText');
        const countryDropdown = document.getElementById('countryDropdown');

        selectedCountryLabel.addEventListener('click', () => {
            countryDropdown.classList.toggle('hidden');
        });

        countryDropdown.addEventListener('click', (event) => {
            const selectedOption = event.target.closest('.option-item');
            if (selectedOption) {
                const countryValue = selectedOption.getAttribute('data-country');
                const countryName = selectedOption.textContent.trim();

                selectedCountryText.textContent = countryName;
                selectedCountryLabel.setAttribute('data-selected', countryValue);
                countryDropdown.classList.add('hidden');
            }
        });

        document.addEventListener('click', (event) => {
            if (!countryDropdown.contains(event.target) && !selectedCountryLabel.contains(event.target)) {
                countryDropdown.classList.add('hidden');
            }
        });

        const descriptionLabel = document.getElementById("description_label");
        const descriptionInput = document.getElementById("description_input");
        const notSolved = document.getElementById("problem_not_solved_radio");
        const solved = document.getElementById("problem_solved_radio");

        solved.addEventListener("click", () => {
            descriptionLabel.style.display = "hidden";
            descriptionInput.style.display = "hidden";
        });

        notSolved.addEventListener("click", () => {
            descriptionLabel.style.display = "block";
            descriptionInput.style.display = "block";
        });
    </script>

</body>

</html>